body {
    font-family: 'Lato';
}

.fa-btn {
    margin-right: 6px;
}

.navbar{
    background-color: #63b7af ;
}
body{
    background-color: #63b7af;
}
.navbar-brand,
.navbar-nav li a {
    line-height: 60px;
    height: 60px;
    padding-top: 0;
}

.navbar-text {
    color:#FFFFFF;
}

.navbar-brand {
    color:#FFFFFF;
}

.btn{
    background-color: #3c5d5d;
    color:#FFFFFF;
}

